.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.waves-svg {
  width: 100%;
  height: 120px;
  margin-bottom: -1px;
}

.sea-base {
  width: 100%;
  height: calc(100% - 119px);
  background-color: #0077b6;
}

.parallax-layers > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax-layers > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax-layers > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax-layers > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax-layers > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}